<!doctype html>
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<main>
  <!-- <section>
    <h2 class="subtitle">Keep track of your medicine intake</h3>
  </section>

    <section class="totalDoses">
      <p> Doseeee:  <%= doses %> </p>
    </section>

    <form action="/addDose" method="POST">
      <button>add dose</button>
    </form>
  <form action="/removeDose" method="POST">
    <button class="remove">remove dose</button>
  </form> -->
  <section>
    <h1>Today</h1>
    <article>
      <table class="table">
        <tbody>
          <tr>
            <td>8:30</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>11:30</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>13:30</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icon_pencil.png" alt="edit"></td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
  <section>
    <h1>This week</h1>
    <article>
      <h2>Wednesday 18 March</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>8:25</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>10:30</td>
            <td>Modafinil</td>
            <td>200</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>13:50</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icon_pencil.png" alt="edit"></td>
          </tr>
        </tbody>
      </table>
    </article>
    <article>
      <h2>Tuesday 17 March</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>8:25</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>10:30</td>
            <td>Modafinil</td>
            <td>200</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>13:50</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icon_pencil.png" alt="edit"></td>
          </tr>
        </tbody>
      </table>
    </article>
    <article>
      <h2>Monday 16 March</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>8:25</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>10:30</td>
            <td>Modafinil</td>
            <td>200</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>13:50</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icon_pencil.png" alt="edit"></td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>

<%- include('./partials/foot.ejs') %>
