<!doctype html>
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<main>
  <section>
    <form autocomplete="off">
      <h2>Invoeren</h2>
      <label class="textInput" for="name">Medicijnnaam
        <input type="text" name="name" placeholder="Modafinil" required value="Modafinil">
      </label>
      <label class="numberInput" for="amount">Hoeveelheid
        <input type="number" name="amount" placeholder="100" value="100" required>
        <input list="unit" name="unit" placeholder="mg" value="mg" />
        <datalist id="unit">
          <option value="mg">
          <option value="mcg">
          <option value="g">
        </datalist>
      </label>
      <label for="date">Date
        <input type="date" name="date" min="2020-06-01" max="2020-12-24" value="2020-06-02"></label>
      <label class="timeInput" for="time">Om welke tijd?
        <input type="time" name="time" value="13:12" required>
      </label>

      <!-- <button id="remove" type="submit" formaction="/remove" formmethod="post">remove</button> -->
      <button id="add" type="submit" formaction="/add" formmethod="post">add</button>
      <button id="load">load things</button>

      <!-- // doe iets met eerst een submitten en dan een save to ls -->
    </form>
  </section>
  <section id="tablesElement">
    <% if (doseTables) { %>
    <% doseTables.forEach(function(doseTable) { %>
    <article>
      <%- doseTable %>
    </article>
    <% }) %>
    <% } %>

  </section>
</main>

<%- include('./partials/foot.ejs') %>
