<!doctype html>
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<main>
  <section>
    <form autocomplete="off">
      <h2>Invoeren</h2>
      <label class="textInput" for="name">Medicijnnaam
        <input type="text" name="name" placeholder="Modafinil" required value="Modafinil">
      </label>
      <label class="numberInput" for="amount">Hoeveelheid
        <input type="number" name="amount" placeholder="100" value="100" required>
        <input list="unit" name="unit" placeholder="mg" value="mg" />
        <datalist id="unit">
          <option value="mg">
          <option value="mcg">
          <option value="g">
        </datalist>
      </label>
      <label for="date">Date
        <input type="date" name="date" min="2020-06-01" max="2020-12-24" value="2020-06-02"></label>
      <label class="timeInput" for="time">Om welke tijd?
        <input type="time" name="time" value="13:12" required>
      </label>

      <!-- <button id="remove" type="submit" formaction="/remove" formmethod="post">remove</button> -->
      <button id="add" type="submit" formaction="/add" formmethod="post">add</button>
    </form>
  </section>
  <section>

      <% if (dagen[0]) { %>
      <% dagen[0].forEach(function(dag) { %>
      <article>
        <h2><%= dag %></h2>
        <table class="table">
          <tbody>
            <tr>
              <td>test</td>
            </tr>
          </tbody>
        </table>
      </article>
      <% }) %>
      <% } %>


  </section>
  <section>
    <h1>Today</h1>
    <article>
      <table class="table">
        <tbody>
          <tr>
            <td>8:30</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icons/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>11:30</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icons/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>13:30</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icons/icon_pencil.png" alt="edit"></td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
  <section>
    <h1>This week</h1>
    <article>
      <h2>Wednesday 18 March</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>8:25</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icons/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>10:30</td>
            <td>Modafinil</td>
            <td>200</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icons/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>13:50</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icons/icon_pencil.png" alt="edit"></td>
          </tr>
        </tbody>
      </table>
    </article>
    <article>
      <h2>Tuesday 17 March</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>8:25</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icons/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>10:30</td>
            <td>Modafinil</td>
            <td>200</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icons/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>13:50</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icons/icon_pencil.png" alt="edit"></td>
          </tr>
        </tbody>
      </table>
    </article>
    <article>
      <h2>Monday 16 March</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>8:25</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icons/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>10:30</td>
            <td>Modafinil</td>
            <td>200</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icons/icon_pencil.png" alt="edit"></td>
          </tr>
          <tr>
            <td>13:50</td>
            <td>Modafinil</td>
            <td>100</td>
            <td>mg</td>
            <td><img class="editIcon" src="./img/icons/icon_pencil.png" alt="edit"></td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>

<%- include('./partials/foot.ejs') %>
