@import 'reset.css';
@import 'fonts.css';

/* BASE */
body {
  font-family: "Roboto", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 20.8px;
  font-size: 1.3rem;
  color: black;
  background: rgb(236, 236, 255);
  /* if the browser supports linear-gradient, the cascade will use the following: */
  background: -webkit-linear-gradient(left, rgba(252, 252, 255, 1) 0%, rgba(245, 251, 255, 1) 100%);
  background: -moz-linear-gradient(90deg, rgba(252, 252, 255, 1) 0%, rgba(245, 251, 255, 1) 100%);
  background: -o-linear-gradient(left, rgba(252, 252, 255, 1) 0%, rgba(245, 251, 255, 1) 100%);
  background: linear-gradient(to right, rgba(252, 252, 255, 1) 0%, rgba(245, 251, 255, 1) 100%);
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(left, #fcfcff, #f5fbff);
  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(left, #fcfcff, #f5fbff);
  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(left, #fcfcff, #f5fbff);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(to right, #fcfcff, #f5fbff);
  max-width: 100vw;
}

h1 {
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "AbrilFatface", "Palatino Linotype", Georgia, "Times New Roman", serif;
  font-weight: 700;
  line-height: 31px;
  line-height: 1.8rem;
  color: white;
  text-align: center;
  padding: 15px;
  padding: 1rem;
  letter-spacing: 3.5px;
}

h2 {
  color: #485b69;
  font-size: 29px;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 27px;
  line-height: 2.2rem;
  text-align: left;
  padding-bottom: 0.7rem;
  border-bottom: 3px solid #3B4859;
  min-width: 280px;
  max-width: 60vw;
}

h3 {
  font-size: 28.8px;
  font-size: 1.7rem;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
  margin-top: 1.3rem;
}

h4 {
  font-size: 28.8px;
  font-size: 1.6rem;
}

p, td {
  font-weight: 400;
  line-height: 31px;
  color: #1F2D3D;
  text-align: left;
}

td {
  font-size: 24px;
  font-size: 1.5rem;
}

p {
  font-size: 21px;
  font-size: 1.2rem;
}

main {}

header {
  min-height: 2.7rem;
  max-height: 15vh;
  padding: 0.5rem;
  background-color: #1E2D3E;
  display: block;
}

section {
  margin-left: 16px;
  margin-right: 28px;
  margin-left: 1rem;
  margin-right: 2rem;
  display: block;
  width: 100%;
  height: 100%;
}

article {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

form {
  padding: 2rem;
  min-height: 22rem;
  /* max-height: 28rem; */
  min-width: 300px;
  max-width: 60vw;
}

form input {
  font-size: 20.8px;
  font-size: 1.5rem;
}

form label {
  padding: 6px;
  padding: 0.35rem;
  margin-top: 17.6px;
  margin-top: 1.3rem;
  font-size: 16px;
  font-size: 1.2rem;
}

button {
  min-width: 25vw;
  max-width: 40%;
  padding: 8px;
  padding: 0.8rem;
  margin: 4px;
  margin: 0.5rem;
  background-color: #1E2D3E;
  color: white;
  font-weight: bold;
  font-size: 20.8px;
  font-size: 1.1rem;
  display: block;
  margin-top: 1rem;
}

.ingevoerde-dosissen {
  padding: 2rem;
  min-width: 300px;
  max-width: 60vw;
}

/* LAYOUT */
@supports (display: flexx) {
  main {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: center;
    align-content: center;
    display: block;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form label {
    display: flex;
    flex-direction: column;
  }

  form input {}

  .invoer {
    display: flex;
    justify-content: center;
  }

  .ingevoerde-dosissen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .load-doses {
    display: flex;
    flex-direction: column;
  }
}

.load-doses {
  min-width: 300px;
  max-width: 80vw;
  padding: 1rem;
}

.load-doses p {
  min-width: 330px;
  max-width: 70%;
  margin-left: 0.2rem;
  margin-top: 0.5rem;

}

.load-doses button {
  margin-left: 1rem;
}

.invoer {
  /* margin-bottom: 5rem; */
}


.ingevoerde-dosissen {
  /* max-width: 80vw; */
}

.table {
  border-left: 0.1px solid #C0CCDA;
  border-right: 0.1px solid #C0CCDA;
  border-collapse: collapse;
}

/* CONTENT */
.table td {
  text-align: left;
  border: 0.1px solid #C0CCDA;
  border-left: 0;
  border-right: 0;
  padding: 15px;
}

tr: nth-child(1n) {
  background-color: #EFF2F7;
}

tr: nth-child(2n) {
  background-color: white;
}

tr: nth-child(3n) {
  background-color: #F9FAFC;
}

/* COMPONENTS */
.editIcon {
  color: #3B4859;
  width: 32px;
  height: 32px;
  max-width: 2rem;
  max-height: 2rem;
}

/* EXTRA */
.hidden {
  display: none;
}
