/* BASE */
@import 'reset.css';

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(236, 236, 255);
  background: linear-gradient(90deg, rgba(236, 236, 255, 1) 0%, rgba(240, 250, 255, 1) 100%);
  font-family: sans-serif;
  /* display: flex; */
  /* align-content: center; */
}

header {
  display: block;
  align-self: center;
}

h1 {}

main {
  display: flex;
  align-content: center;
}
